.circles
  padding: 5rem 0
  &__image
    width: 100%

    @include respond(tab-port)
      max-width: 50rem
      margin: 0 auto

.about
  color: $color-grey-dark-3
  max-width: $grid-width
  margin: 0 auto
  padding: 5rem 0

  &__heading
    margin: 0 auto
    width: 90%
    text-transform: uppercase
    font-size: 6rem
    font-weight: 300
    
    @include respond(tab-port)
      text-align: center

  &__text
    font-size: $default-font-size
    width: 90%
    margin: 0 auto


.projects
  color: $color-grey-dark-3
  max-width: $grid-width
  margin: 0 auto
  padding: 5rem 0

  &__heading
    text-transform: uppercase
    font-size: 6rem
    font-weight: 300
    width: 90%
    margin: 0 auto
    @include respond(tab-port)
      text-align: center
      padding: 0 3rem
      
  &__list
    margin: 0 auto
    width: 90%    

  &__image
    width: 100%

  &__description
    font-size: $default-font-size
    margin: 3rem 0 1rem
  &__links
    margin-bottom: 1rem
    & > * 
      margin-right: 1rem
  &__link
    &:link,
    &:visited
    text-decoration: none
    color: $color-primary
    font-size: $default-font-size

    &:hover,
    &:active
      color: rgba($color-primary, 0.8)

.contact
  color: $color-grey-dark-3
  max-width: $grid-width
  margin: 0 auto
  padding: 5rem 0

  @include respond(tab-port)
    max-width: 75rem
    padding: 0 1rem 5rem

  &__heading
    text-transform: uppercase
    font-size: 6rem
    font-weight: 300
    margin: 0 auto
    width: 90%

    @include respond(tab-port)
      text-align: center

  &__text
    font-size: $default-font-size
    margin: 0 auto
    width: 90%

    @include respond(tab-port)
      width: 100%

    &--1
      margin-bottom: 2rem

    &--2
      margin-bottom: 2rem

  &__links 
    & > *
      margin-right: 1rem    

  &__email,
  &__link
    &:link,
    &:visited
    text-decoration: none
    color: $color-primary

    &:hover,
    &:active
      color: rgba($color-primary, 0.8)

.last-image-wrapper
  padding-top: 5rem
  background-image: url( ../img/heavenyo.jpg )
  height: 100vh
  background-size: cover
  background-position: center

